.button-button{
    display: block;
    align-items: center;
    height: 350px;
    width: 100%;
    float: left;
    text-align: center;
    justify-content: center;
}

.button-button2{
    display: block;
    align-items: center;
    height: 250px;
    width: 100%;
    float: left;
    text-align: center;
    justify-content: center;
    position: relative;
}